@font-face {
	font-family: 'Space Mono';
	src: url('/fonts/space-mono/space-mono-regular.ttf');
	font-weight: normal;
	font-display: auto;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/poppins/poppins-regular.ttf');
	font-weight: normal;
	font-display: auto;
	font-style: normal;
}