@import "./fonts.scss";

.title {
    font-family: "Poppins", Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
    color: #333;
}

body {
    font-family: 'Space Mono', Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #333;
    background: #f7f5ed
}